@model test.Models.album
@{
    ViewBag.Title = "createArtista";
    
}
<link rel="stylesheet" type="text/css" href="~/Content/album/album.css" />
<h2 class="text-center">Crear Album</h2>
<div id="formulario">
    @using (Html.BeginForm("crearAlbum", "Album", FormMethod.Post))
    {
        @Html.TextBoxFor(u => u.nombre, new { @class = "input", placeholder = "Nombre del album" })<br /><br />
        @Html.ValidationMessageFor(u => u.nombre)

        @Html.TextBoxFor(u => u.genero, new { @class = "input", placeholder = "Genero" })<br /><br />
        @Html.ValidationMessageFor(u => u.genero)

        @Html.TextBoxFor(u => u.fecha, new { @class = "input", placeholder = "Fecha" })<br /><br />
        @Html.ValidationMessageFor(u => u.fecha)

        @Html.DropDownListFor(u => u.idArtista, new SelectList(ViewBag.artista, "Value", "Text"), "seleccione un artista", new { @class = "input" })<br /><br />
        @Html.ValidationMessageFor(u => u.idArtista)
        <div class="botones">
            <button class="button">Crear</button>
            @Html.ActionLink("Volver", "Index", "Album", new { id = ViewBag.idArtista }, new { @class = "button" })
        </div>
    }
</div>